
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wf-1v5a1gx {
  color: var(--colors-content);
  --colors-background: var(--gray-600);
  --colors-background-action: var(--gray-400);
  --colors-background-action-hovered: var(--gray-350);
  --colors-background-action-pressed: var(--gray-800);
  --colors-background-brand: var(--webflowBlue-300);
  --colors-background-brand-hovered: var(--webflowBlue-400);
  --colors-background-action-inactive: var(--gray-500);
  --colors-background-brand-pressed: var(--webflowBlue-500);
  --colors-background-danger: var(--red-400);
  --colors-background-danger-hovered: var(--red-350);
  --colors-background-danger-pressed: var(--red-600);
  --colors-background-low: var(--gray-700);
  --colors-background-lower: var(--gray-800);
  --colors-background-lowest: var(--gray-900);
  --colors-background-data: var(--purple-400);
  --colors-background-data-hovered: var(--purple-300);
  --colors-background-data-pressed: var(--purple-600);
  --colors-background-draft: var(--orange-400);
  --colors-background-draft-hovered: var(--orange-350);
  --colors-background-draft-pressed: var(--orange-400);
  --colors-background-inactive: var(--gray-500);
  --colors-background-inversed: var(--gray-50);
  --colors-background-higher: var(--gray-500);
  --colors-background-highest: var(--gray-400);
  --colors-background-pink: var(--pink-400);
  --colors-background-pink-hovered: var(--pink-350);
  --colors-background-pink-pressed: var(--pink-600);
  --colors-background-primary: var(--blue-400);
  --colors-background-primary-hovered: var(--blue-350);
  --colors-background-primary-pressed: var(--blue-600);
  --colors-background-success: var(--green-400);
  --colors-background-success-hovered: var(--green-350);
  --colors-background-success-pressed: var(--green-500);
  --colors-background-warning: var(--yellow-500);
  --colors-background-warning-hovered: var(--yellow-450);
  --colors-background-warning-pressed: var(--yellow-500);
  --colors-border: var(--gray-700);
  --colors-border-brand: var(--webflowBlue-300);
  --colors-border-danger: var(--red-200);
  --colors-border-lower: var(--gray-800);
  --colors-border-lowest: var(--gray-900);
  --colors-border-data: var(--purple-200);
  --colors-border-draft: var(--orange-200);
  --colors-border-higher: var(--gray-400);
  --colors-border-highest: var(--whiteA05);
  --colors-border-primary: var(--blue-200);
  --colors-border-success: var(--green-200);
  --colors-border-warning: var(--yellow-300);
  --colors-canvas-danger: var(--red-300);
  --colors-canvas-danger-hovered: var(--red-200);
  --colors-canvas-data: var(--purple-300);
  --colors-canvas-data-hovered: var(--purple-200);
  --colors-canvas-draft: var(--orange-300);
  --colors-canvas-draft-hovered: var(--orange-200);
  --colors-canvas-pink: var(--pink-300);
  --colors-canvas-pink-hovered: var(--pink-200);
  --colors-canvas-primary: var(--blue-300);
  --colors-canvas-primary-hovered: var(--blue-200);
  --colors-canvas-success: var(--green-300);
  --colors-canvas-success-hovered: var(--green-200);
  --colors-canvas-warning: var(--yellow-300);
  --colors-canvas-warning-hovered: var(--yellow-300);
  --colors-css-content-class: var(--yellow-300);
  --colors-css-content-highlight: var(--yellow-A70);
  --colors-css-content-property: var(--gray-50);
  --colors-css-content-value: var(--green-100);
  --colors-content: var(--gray-100);
  --colors-content-action: var(--gray-50);
  --colors-content-action-hovered: var(--gray-25);
  --colors-content-action-light: var(--white);
  --colors-content-brand: var(--webflowBlue-100);
  --colors-content-danger: var(--red-100);
  --colors-content-low: var(--gray-200);
  --colors-content-lower: var(--gray-300);
  --colors-content-lowest: var(--gray-350);
  --colors-content-data: var(--purple-100);
  --colors-content-draft: var(--orange-100);
  --colors-content-high-contrast: var(--white);
  --colors-content-inactive: var(--gray-300);
  --colors-content-inversed: var(--gray-900);
  --colors-content-higher: var(--gray-50);
  --colors-content-highest: var(--gray-25);
  --colors-content-low-contrast: var(--gray-300);
  --colors-content-pink: var(--pink-100);
  --colors-content-primary: var(--blue-100);
  --colors-content-success: var(--green-100);
  --colors-content-warning: var(--yellow-300);
  --colors-id-background: var(--pink-300);
  --colors-id-content: var(--pink-100);
  --colors-inherited-background: var(--orange-300);
  --colors-inherited-content: var(--orange-100);
  --colors-local-background: var(--blue-300);
  --colors-local-content: var(--blue-100);
  --colors-outline-danger: 0 0 0 2px var(--red-A20);
  --colors-outline-data: 0 0 0 2px var(--purple-A20);
  --colors-outline-primary: 0 0 0 2px var(--blue-A20);
  --colors-outline-success: 0 0 0 2px var(--green-A20);
  --colors-outline-warning: 0 0 0 2px var(--yellow-A20);
  --colors-overridden-background: var(--gray-50);
  --colors-overridden-content: var(--red-100);
  --colors-selected-background-brand: var(--webflowBlue-A20);
  --colors-selected-background-brand-hovered: var(--webflowBlue-A30);
  --colors-selected-background-data: var(--purple-A20);
  --colors-selected-background-data-hovered: var(--purple-A30);
  --colors-selected-background-primary: var(--blue-A20);
  --colors-selected-background-primary-hovered: var(--blue-A30);
  --colors-symbol-background: var(--green-400);
  --colors-symbol-background-hovered: var(--green-300);
  --colors-symbol-background-pressed: var(--green-400);
  --colors-symbol-content: var(--green-100);
  --colors-ui-brand: var(--webflowBlue-300);
  --colors-ui-danger: var(--red-200);
  --colors-ui-data: var(--purple-200);
  --colors-ui-draft: var(--orange-200);
  --colors-ui-pink: var(--pink-200);
  --colors-ui-primary: var(--blue-200);
  --colors-ui-success: var(--green-200);
  --colors-ui-warning: var(--yellow-300);
  --controls-height-large: 32px;
  --controls-height-medium: 24px;
  --controls-height-x-large: 40px;
  --controls-border-radius: 2px;
  --controls-border-width: 1px;
  --controls-font-size-large: var(--typography-font-size-body-large);
  --controls-font-size-medium: var(--typography-font-size-body-medium);
  --controls-font-size-x-large: var(--typography-font-size-body-x-large);
  --controls-gutter-large: calc(var(--space, 4) * 3px);
  --controls-gutter-medium: calc(var(--space, 4) * 2px);
  --controls-gutter-x-large: calc(var(--space, 4) * 3px);
  --controls-line-height-large: calc(32px - 1px * 2);
  --controls-line-height-medium: calc(24px - 1px * 2);
  --controls-line-height-x-large: calc(40px - 1px * 2);
  --controls-opacity-disabled: var(--opacities-disabled);
  --opacities-default: 1;
  --opacities-low: 0.8;
  --opacities-minimum: 0.7;
  --opacities-disabled: 0.6;
  --typography-font-family-mono: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  --typography-font-family-sans-serif: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
  --typography-font-family-display: Graphik,Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
  --typography-font-size-title-medium: 12px;
  --typography-font-size-heading-medium: 11px;
  --typography-font-size-body-large-medium: 11px;
  --typography-font-size-body-medium: 10px;
  --typography-font-size-code-medium: 11px;
  --typography-line-height-title-medium: calc(16/12);
  --typography-line-height-heading-medium: calc(14/11);
  --typography-line-height-body-large-medium: calc(16/11);
  --typography-line-height-body-medium: calc(14/10);
  --typography-line-height-code-medium: calc(16/11);
  --typography-font-size-title-large: 18px;
  --typography-font-size-heading-large: 14px;
  --typography-font-size-subheading-large: 12px;
  --typography-font-size-body-large-large: 14px;
  --typography-font-size-body-large: 12px;
  --typography-font-size-code-large: 12px;
  --typography-line-height-title-large: calc(22/18);
  --typography-line-height-heading-large: calc(18/14);
  --typography-line-height-subheading-large: calc(16/12);
  --typography-line-height-body-large-large: calc(18/14);
  --typography-line-height-body-large: calc(16/12);
  --typography-line-height-code-large: calc(18/12);
  --typography-font-size-title-x-large: 24px;
  --typography-font-size-heading-x-large: 20px;
  --typography-font-size-subheading-x-large: 16px;
  --typography-font-size-body-large-x-large: 16px;
  --typography-font-size-body-x-large: 14px;
  --typography-font-size-caption-x-large: 12px;
  --typography-font-size-code-x-large: 14px;
  --typography-font-size-display-1-x-large: 60px;
  --typography-font-size-display-2-x-large: 32px;
  --typography-font-size-display-3-x-large: 24px;
  --typography-line-height-title-x-large: calc(36/24);
  --typography-line-height-heading-x-large: calc(32/20);
  --typography-line-height-subheading-x-large: calc(24/16);
  --typography-line-height-body-large-x-large: calc(24/16);
  --typography-line-height-body-x-large: calc(20/14);
  --typography-line-height-caption-x-large: calc(16/12);
  --typography-line-height-code-x-large: calc(20/14);
  --typography-line-height-display-1-x-large: calc(72/60);
  --typography-line-height-display-2-x-large: calc(40/32);
  --typography-line-height-display-3-x-large: calc(36/24);
  --typography-letter-spacing-title-x-large: -0.019em;
  --typography-letter-spacing-heading-x-large: -0.011em;
  --typography-letter-spacing-body-x-large: -0.006em;
  --typography-letter-spacing-display-x-large: -0.02em;
  --typography-font-weight-bold: 700;
  --typography-font-weight-semibold: 600;
  --typography-font-weight-medium: 500;
  --typography-font-weight-normal: 400;
  --typography-font-weight-light: 300;
  --typography-letter-spacing-narrow: -0.4px;
  --typography-letter-spacing-normal: 0px;
  --typography-letter-spacing-wide: 0.5px;
  background-color: initial;
}
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
}
:root {
  --black: rgba(0, 0, 0, 1);
  --blackA05: rgba(0, 0, 0, 0.05);
  --blackA10: rgba(0, 0, 0, 0.1);
  --white: rgba(255, 255, 255, 1);
  --whiteA05: rgba(255, 255, 255, 0.05);
  --whiteA10: rgba(255, 255, 255, 0.1);
  --gray-25: #f6f6f6;
  --gray-50: #ebebeb;
  --gray-100: #d9d9d9;
  --gray-200: #ababab;
  --gray-300: #757575;
  --gray-350: #696969;
  --gray-400: #5e5e5e;
  --gray-500: #4d4d4d;
  --gray-600: #404040;
  --gray-700: #363636;
  --gray-800: #2b2b2b;
  --gray-900: #212121;
  --blue-100: #8AC2FF;
  --blue-200: #2496FF;
  --blue-300: #0084FF;
  --blue-350: #1280EE;
  --blue-400: #0073E6;
  --blue-500: #0066FF;
  --blue-600: #005CE5;
  --blue-A10: rgba(0, 115, 230, 0.1);
  --blue-A20: rgba(0, 115, 230, 0.2);
  --blue-A30: rgba(0, 115, 230, 0.3);
  --green-100: #63D489;
  --green-200: #2FC862;
  --green-300: #00a457;
  --green-350: #00944F;
  --green-400: #008547;
  --green-500: #00713C;
  --green-A10: rgba(0, 133, 71, 0.1);
  --green-A20: rgba(0, 133, 71, 0.2);
  --green-A30: rgba(0, 133, 71, 0.3);
  --orange-100: #FFAB66;
  --orange-200: #F67E28;
  --orange-300: #F85900;
  --orange-350: #DD7124;
  --orange-400: #C75300;
  --orange-A10: rgba(248, 89, 0, 0.1);
  --orange-A20: rgba(248, 89, 0, 0.2);
  --orange-A30: rgba(248, 89, 0, 0.3);
  --pink-100: #F7A9F9;
  --pink-200: #F775D3;
  --pink-300: #E148C0;
  --pink-350: #D34EB7;
  --pink-400: #BE4AA5;
  --pink-500: #D914AE;
  --pink-600: #C3129D;
  --pink-A10: rgba(190, 74, 165, 0.1);
  --pink-A20: rgba(190, 74, 165, 0.2);
  --pink-A30: rgba(190, 74, 165, 0.3);
  --purple-100: #B89EFF;
  --purple-200: #A484FF;
  --purple-300: #8A61FF;
  --purple-400: #7F5AE9;
  --purple-500: #7140FF;
  --purple-600: #663AE5;
  --purple-A10: rgba(127, 90, 233, 0.1);
  --purple-A20: rgba(127, 90, 233, 0.2);
  --purple-A30: rgba(127, 90, 233, 0.3);
  --red-100: #FF8A8A;
  --red-200: #FF424D;
  --red-300: #ED273E;
  --red-350: #DB434C;
  --red-400: #CF313B;
  --red-500: #D50000;
  --red-600: #B50000;
  --red-A10: rgba(207, 49, 59, 0.1);
  --red-A20: rgba(207, 49, 59, 0.2);
  --red-A30: rgba(207, 49, 59, 0.3);
  --yellow-300: #FFC700;
  --yellow-400: #EAA700;
  --yellow-450: #AD7D00;
  --yellow-500: #996E00;
  --yellow-A10: rgba(255, 199, 0, 0.1);
  --yellow-A20: rgba(255, 199, 0, 0.2);
  --yellow-A30: rgba(255, 199, 0, 0.3);
  --yellow-A70: rgba(255, 199, 0, 0.7);
  --webflowBlue-100: #738cff;
  --webflowBlue-200: #4d6bff;
  --webflowBlue-300: #4353ff;
  --webflowBlue-400: #3545ee;
  --webflowBlue-500: #323ed1;
  --webflowBlue-A10: rgba(67, 83, 255, 0.1);
  --webflowBlue-A20: rgba(67, 83, 255, 0.2);
  --webflowBlue-A30: rgba(67, 83, 255, 0.3);
}